@{ 
    Layout = null;
}
<div id="history-user">
    @*<div class="relative">*@
    <div class="header-history col-12">@TempData["header-history"]</div>
    <div id="body-history" style="width: 100%;">
        @RenderBody()
    </div>
</div>