
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/about.css" />
<div class="team-section">
    <!-- menu da pagina toda  -->
    <h1>О НАС</h1>
    <span class="border"></span>
    <div class="ps">
        <a href="#p1"><img src="~/images/About/kir.jpg" alt=""></a>
        <a href="#p2"><img src="~/images/About/gar.jpg" alt=""></a>
        <a href="#p3"><img src="~/images/About/dum.jpg" alt=""></a>
        <a href="#p4"><img src="~/images/About/artt.jpg" alt=""></a>
    </div>

    <!-- fazendo o codigo dos nomes  -->
    <div class="section1" id="p">
        <span class="name"> THE TEAM </span>
        <span class="border"></span>
        <p>
            Самая лучшая команда в мире Самая лучшая команда в мире
            Самая лучшая команда в мире Самая лучшая команда в мире
            Самая лучшая команда в мире Самая лучшая команда в мире
            Самая лучшая команда в мире Самая лучшая команда в мире
            Самая лучшая команда в мире Самая лучшая команда в мире
            Самая лучшая команда в мире Самая лучшая команда в мире
            Самая лучшая команда в мире Самая лучшая команда в мире
            Самая лучшая команда в мире Самая лучшая команда в мире
        </p>
    </div>
    <!-- dados nome2 -->
    <div class="section" id="p1">
        <span class="name"> Kirrill </span>
        <span class="border"></span>
        <p>
            Хороший человек Хороший человек Хороший человек Хороший человек Хороший человек
            Хороший человек Хороший человек Хороший человек Хороший человек Хороший человек
            Хороший человек Хороший человек Хороший человек Хороший человек Хороший человек
            Хороший человек Хороший человек Хороший человек Хороший человек Хороший человек
            Хороший человек Хороший человек Хороший человек Хороший человек Хороший человек
            Хороший человек Хороший человек Хороший человек Хороший человек Хороший человек
            Хороший человек Хороший человек Хороший человек Хороший человек Хороший человек
            Хороший человек Хороший человек Хороший человек Хороший человек Хороший человек
        </p>
    </div>
    <div class="section" id="p2">
        <span class="name">Wacher Garcia </span>
        <span class="border"></span>
        <p>
            Топовый программист Топовый программист Топовый программист Топовый программист
            Топовый программист Топовый программист Топовый программист Топовый программист
            Топовый программист Топовый программист Топовый программист Топовый программист
            Топовый программист Топовый программист Топовый программист Топовый программист
            Топовый программист Топовый программист Топовый программист Топовый программист
            Топовый программист Топовый программист Топовый программист Топовый программист
            Топовый программист Топовый программист Топовый программист Топовый программист
            Топовый программист Топовый программист Топовый программист Топовый программист

        </p>
    </div>
    <div class="section" id="p3">
        <span class="name">Dumalakov </span>
        <span class="border"></span>
        <p>
            Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс
            Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс
            Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс
            Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс
            Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс
            Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс
            Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс Отличный хомосапенс

        </p>
    </div>
    <div class="section" id="p4">
        <span class="name">Artushina </span>
        <span class="border"></span>
        <p>
            Просто Вова Просто Вова Просто Вова Просто Вова Просто Вова
            Просто Вова Просто Вова Просто Вова Просто Вова Просто Вова
            Просто Вова Просто Вова Просто Вова Просто Вова Просто Вова
            Просто Вова Просто Вова Просто Вова Просто Вова Просто Вова
            Просто Вова Просто Вова Просто Вова Просто Вова Просто Вова
            Просто Вова Просто Вова Просто Вова Просто Вова Просто Вова
            Просто Вова Просто Вова Просто Вова Просто Вова Просто Вова

        </p>
    </div>
</div>