<link rel="stylesheet" href="~/css/mainPage.css">
<div id="showcase" class="header">
    <h1>Добро пожаловать в StudLabs</h1>
    <p>Онлайн-калькулятор можно использовать для проверки своего решения <br />по математическим и экономическим дисциплинам.</p>
    <a href="#" class="button">Начать</a>
</div>
@*<section id="section-a">
    <p> wacher garcia e uma rapaz muito inteligente por isso gosta muito de fazer que coisa que vai agradar..</p>
</section>
<section id="section-b">
    <p>Мы можем написать здесь все о том, что мы хотим, что вы думаете, КириллМы можем написать здесь все о том, что мы хотим, что вы думаете, КириллМы можем написать здесь все о том, что мы хотим, что вы думаете, КириллМы можем написать здесь все о том, что мы хотим, что вы думаете, КириллМы можем написать здесь все о том, что мы хотим, что вы думаете, КириллМы можем написать здесь все о том, что мы хотим, что вы думаете, КириллМы можем написать здесь все о том, что мы хотим, что вы думаете, Кирилл.</p>
</section>
<section id="section-c">
    <div class="box-1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum est, molestias dolores quis sunt nobis temporibus veritatis libero odio!
    </div>
    <div class="box-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum est, molestias dolores quis sunt nobis temporibus veritatis libero odio!
    </div>
    <div class="box-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dolorum est, molestias dolores quis sunt nobis temporibus veritatis libero odio!
    </div>
</section>*@