<link rel="stylesheet" href="~/css/mainPage.css">
<link rel="stylesheet" href="~/node_modules/intro.js/introjs.css"/>
<script src="~/node_modules/intro.js/intro.js"></script>

<div id="showcase" class="header">
    <h1>Добро пожаловать в StudLabs</h1>
    <p>Онлайн-калькулятор можно использовать для проверки своего решения <br />по математическим и экономическим дисциплинам.</p>
    <span class="button btn-start">Начать</span>
    <a href="/Home/About" class="button"  data-step="3" data-intro="Тут вы можете посмотреть информацию о нас.">О нас</a>
</div>

<script>
    $('.btn-start').click(() => {
        introJs()
            .setOption('skipLabel', "Пропустить")
            .setOption('doneLabel', "Готово")
            .setOption('nextLabel', "→")
            .setOption('prevLabel', "←")
            .onbeforechange(function (targetElement) {
                console.log(targetElement);
                console.log($('.hover-menu'))
                console.log($('.hover-menu')[0] === targetElement)
                if ($('.hover-menu')[0] === targetElement)
                    $('.hover-menu').animate({ 'width': '220px' }, 50);
                else
                    $('.hover-menu').animate({ 'width': '70px' }, 50);
            })
            .start();
    }); 
</script>