* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.team-section {
    overflow: hidden;
    text-align: center;
    background: #f7f7f7;
    padding: 60px;
}

    .team-section h1 {
        text-transform: uppercase;
        margin-bottom: 60px;
        color: #000;
        font-size: 40px;
        margin-top: 20px;
    }

.border {
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}

.ps {
    margin-bottom: 40px;
}

    .ps a {
        display: inline-block;
        margin: 0 30px;
        width: 160px;
        height: 160px;
        overflow: hidden;
        border-radius: 50%;
    }

        .ps a img {
            width: 100%;
            filter: grayscale(50%);
            transition: 0.4s all;
        }

        .ps a:hover > img {
            filter: none;
        }
/* .ps a:focus > img {
    filter: none;
} */
/* somente para mostrar o que se quer */
.section1 {
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: #000;
    text-align: justify;
}

.section {
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: #000;
    text-align: justify;
    margin-top: 20px;
    height: 0;
    overflow: hidden;
}

    .section:target {
        height: auto;
    }

.name {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
