
<div class="logout-page">
    <div class="page-header">
        <h1>Logout</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <b><p>Вы действительно хотите выйти ?</p></b>
            <p>Если вы выйдите с данного сайта, это повлечет за собой 
            выход со всех сервисов, где вы авторизованы с помощью AuthSLabs  </p>
            <form asp-action="Logout">
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">Выход</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
